* {
    font-family:  sans-serif;
    margin: 0px;
}


#main {
    text-align: center;
    color: white;
    background-color: #ff69b4;
    padding-top: 200px;
    padding-bottom: 50px;
}

#main h1 {
    font-size: 15vw;
}

#caption {
    display: block;
    padding-bottom: 35px;
    font-size: 20px;
}

#playlists_dropdown {
    display: none;
    text-align: center;
}

#stolen {
    display: none;
    color: aqua;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tv {
    display: none;
    color: greenyellow;
}

#sign-in {
    background-color: lime;
    color: black;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 25px;
}
#socials {
    text-align: center;
}

#loading {
    text-align: center;
    display: none;
    border: 16px solid mintcream;
    border-top: 16px solid aqua;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#taylorize {
    display: none;
    margin: 0 auto;
    text-align: center;
}

#taylorizing {
    text-align: center;
    display: none;
    border: 16px solid whitesmoke;
    border-top: 16px solid red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}